body{
    margin: 0;
    padding: 0;
    font-family: 'Baloo Tamma 2', cursive, sans-serif;
    background-color:#eeede7 ;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 50px;
}

.div-bg{
    background-color: #7ec8e3;
    margin: 10px;
    /* position: relativefont-family:'Ubuntu Condensed'; */
    float: left;
    border: 2px solid black;
}
.name{
    /* position: absolute; */
    /* background-color: hotpink; */
    /* top: 0;
    right: 0; */
    padding: 3px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    float: right;
    margin-bottom: 10px;
    padding-left: 1em;
    padding-right: 1em;
    text-align: center;
    font-weight: bold;
    letter-spacing: 1px;
    color: wheat;
}

#name1{
    background-color: #1000ff;
}

#name2{
    background-color: #000c66;
}

#name3{
    background-color: #050a30;
}

p{
    clear: right;
    margin: 10px;
    
}

@media (min-width:992px){
    .div-bg{
    width: 30%;
    margin-left: 2%;
    padding-bottom: 10px;

    
}
.name{
        width: 35%;
        font-size: 1.2em;
    }
}

@media (min-width: 768px) and (max-width: 991px){
    #m1{
        width: 45%;
        margin-left: 3%;
        margin-right: 0;
    }
    #m2{
        width: 45%;
        margin-left: 3%;
    }
    #m3{
        width: 93%;
        margin-left: 3%;
    }

    #name1{
        width: 35%;
    }

    #name2{
        width: 35%;
    }

    #name3{
        width: 18%;
    }

    
}

@media (max-width: 767px){
    .div-bg{
        width: 80%;
        margin-left: 10%;
}

    .name{
        width:30%;
    }

    h1{
        margin-bottom: 3%;
    }
    #m3{
        margin-bottom: 8%;
    }
}
/* .float{
    float: left;
    margin-right: 10px;
} */
